body{
    min-height: 100%;
    height: 100%;
}

.clearfix::after{

    content: "";
    display: block;
    clear: both;
}
.wrapper{
    width: 400px;
    margin: 0 auto;

}

.bg-white {
    background-color: #fff;
}

.bg-green{
    background-color: #c2ffc8;
}

.header{
    height: 100px;
    background-color: #ffce7a;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    
    
}

.box1{
    height: 60px;
    width: 160px;
    display: flex;
    justify-content: space-evenly;
    /* space-around(それぞれの要素に均等な余白をつける)から
    space-evenly（すべての空白が均等に配置される）へ変更 */
    align-items: center;
}

.box-inner{
    height: 40px;
    width: 40px;
   
    }

.center{
    height: 250px;
      
}

.left{
    width: 150px;
    height: 100%;
    background-color: #9dddf4;
    float: left;

}

.right{
    width: 250px;
    height: 100%;
    float: right;
    display: flex;
}

.box2{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
}

.bg-pink{
    width: 140px;
    height: 40px;
    background-color: #ffc2c5;
    border: 5px solid #fff;
  
}

.footer{
    height: 100px;
    background-color: #bea5ff;
    clear: both;
}